
<table>
  <thead>
  <th>タイトル</th>
  <th>著者</th>
  <th>値段</th>
  <th>個数</th>
  </thead>
  <tbody>
  <tr>
    <td><%= link_to @book.title, edit_admin_book_path(@book.id) %></td>
    <td><%= @book.author %></td>
    <td><%= @book.price %></td>
    <td><%= @book.count %></td>
  </tr>
 </tbody>
</table>

