<div id="login_modal" class="fadeInDown">
  <div class="form_row id">
  </div>
  <div class="form_row pass">
  </div>
</div>

<div class="form-wrapper">
  <h1 class="login_form_title">ログイン</h1>
  <%= render partial: "shared/login_form" %>
  <div class="form-footer">
    <p><%= link_to "新規登録", new_user_path %></p>
  </div>
</div>
