div.form-wrapper.user_register_form_container
  h1.user_form_title 新規登録
  =form_for @user ,html: {class: 'user_new_form'} do |f|
    =render partial: "shared/user_register_form",locals: {f:f} 

javascript:
 $("#login-button").click(function(event){
       $('form').fadeOut(500);
       $('.wrapper').addClass('form-success');
       $("h1").text("Thank You!");
       });
