
<div class="book_list">
  <div class="book_container">
    <% books.each do |book| %>
      <% unless book.image.url.nil? %>
        <div class="container">
          <a href="<%= book_path(book.id) %>">
            <div class="img_container">
              <img src="<%= asset_path (book.image.thumb.url) %>">
            </div>
            <h2><%= book.title %></h2>
          </a>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
