  <%= form_for(:session, url: login_path) do |f|  %>
    <div class="form-item">
      <label for="email"></label>
      <%= f.email_field :email, class: "form_item", placeholder: "email" %>
    </div>
    <div class="form-item">
      <label for="password"></label>
      <%= f.password_field :password, class: "form_item", placeholder: "password"  %>
    </div>
    <div class="button-panel">
      <%= f.submit "ログイン", class: "button" %>
    </div>
  <% end %>
