.book_edit_container{
  text-align: center;
  img{
    width: 200px;
    height: 300px;
  }
}

.admin_book_index{
   margin-bottom: 100px;
  .admin_books{
    td{
      text-align: center;
    }
  }
}

.admin_books{
  thead{
    th{
      font-size: 14px; 
    }
  }
}
