.category_new_form{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  list-style: none;
  text-align: center;
  li{
     height: 33px;
   }
   .li_flex{
    display: flex;
   }
   input{
     font-size: 16px; 
     margin: 0 auto;
     padding: 5px;
   }
   input[type=submit] {
     display: block;
     margin: 0 auto;
     margin-top: 30px;
  }
  input#book_image{
    
  }
   label{
    float: left; 
    height: 33px;
    line-height: 33px;
    width: 90px;
  }
}
