/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
body,html{
  margin: 0;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', "Meiryo", メイリオ, arial, helvetica, sans-serif;
  font-weight: 400;
}
.head{
  padding: 0;
  line-height: 45px;
  height: 45px;
  color: #fff;
  background: #1c91d0;
  font-weight: 400;
}
footer{
  $footer_height: 40px;
  width: 100%;
  height: $footer_height; 
  position: fixed;
  bottom: 0;
  background: #ec8e00;
  .head_menu, .admin_footer{
    list-style: none;
    line-height: $footer_height;
    width: 100%;
    padding: 0;
    padding-left: 4%;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 100%;
    li{
      color: black;
      line-height: $footer_height;
      width: 23%; 
      margin: 0;
      text-align: center;
      display: inline-block;
      a{
        color: #eee;
        text-decoration: none;;
        height: 100%;
        display: inline-block;
        i{
          line-height: $footer_height;
          height: 100%;
        }
        &:hover{
          text-decoration: underline;;
          color: #000;
        }
      }
    }
  }
}
.load_cover{
  position: fixed;
  top: 0px;
  background: #1c91d0;
  z-index: 100;
   width: 100%;
   height: 100%;
   .transparent_block{
     display: none;
     position:fixed;
     bottom: 10px;
     height: 300px;
     width: 100%;
     p{
       position: absolute;
       top: 150px;
       left: 50px;
       color: #fff;
       font-size: 30px;
       font-family: hiragino-micyo;
       line-height: 45px;
       text-align: center;
     }
   }
  .img_container{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: url('/assets/sft_logo3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
  }
}

.errors{
  padding: 20px;
  text-align: center;
  color: #ddd;
  .notice{
    background: #1c91d0;
    position: absolute;
    top: 0;
  }
}

.breadcrumbs{
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  font-size: 12px;
  a{
    text-decoration: none;
    &:hover, &:visited{
      color: #5e5e5e;
    }
  }
}


.pagination{
  margin: 10px auto 80px;
  text-align: center;
  padding-left: 20px;
  span{
    background: #1c91d0;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    a{
      text-decoration: none;
      color: #fff;
      &:visited, &:hover{
        color: #fff;
      }
    }
  }
  .prev, .next{
    background: #fff; 
    a{
      color: #000;
      &:visited, &:hover{
        color: #000;
      }
    }
  }
  .current{
    background: #fff;     
    color: #5e5e5e;
  }
}
