// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book_main{
  height: 100%;
  text-align: center;
  margin-bottom: 100px;
  img{
    margin-top:20px;
    width: 200px;
    height: auto;
  }
  .book_title{
    background: #1c91d0;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    height: 45px;
  }
  ul{
    li{
      font-size: 16px;    
      padding: 3px 0;
      box-sizing: border-box;
    }
    .title{
      font-size: 20px;
      margin: 5px 0;
    }
    .price{
      font-size: 20px;
      margin-bottom: 20px;
      span{
        margin-right: 5px;
      }
    }
  }
}
.button_orange{
  font-family: 'Yu Mincho', "Meiryo", メイリオ, arial, helvetica, sans-serif;
  font-family :'Yu Mincho',serif;
  font-size: 16px; 
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  background: #ec8e00;
  border: none;
  border-radius: 20px; 
}
form{
  input[type="submit"], input[type="button"]{
    @extend .button_orange
  }
}
.background_box{
  z-index: -2;
  background: #fff;
  position: absolute;
  top: 32px;
  bottom: 0px;
  right:0px;
  left: 0px;
}
.cancel_button{
  font-family: 'Yu Mincho', "Meiryo", メイリオ, arial, helvetica, sans-serif;
  font-size: 16px; 
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  background: #1c91d0;
  border: none;
  border-radius: 20px; 
}
