// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root_header{
  $root_header_height: 50px;
  width: 100%;
  height: $root_header_height;
  background: #1c91d0; 
  opacity: 0.9;
    img{
      width: 50px;
    }
    h1{
      padding: 0;
      line-height: $root_header_height;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      font-size: 26px;
      font-family: "Baskerville";
      font-weight: 400;
    }
}

.book_list{
  background: #e9e9e9;
}

.book_container{ 
  padding: 10px 15px 0;
  text-align: center;
  box-sizing: border-box;
  background: #e9e9e9;
  margin-bottom: 80px;
  .container{
    width: 50%;
    height: 255px;
    border: 4px #e9e9e9 solid;
    box-sizing: border-box;
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
    background: #fff;
    a{
      box-sizing: border-box;
      height: 150px;
      text-decoration: none;
      .img_container{
        padding-top: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        img{
          width: 125px;
          height: 200px;
        }
      }
       h2{
        font-size: 16px;
        margin : 0;
        color: #000; 
      }
    }
  }
  &::after{
    content: "";
    clear: both;
    display: block;
    width: auto;
    height: auto;
  }
}
