// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_register_form_container, .user_edit_form_container{
  margin: 0;
}
.user_form_title, .login_form_title{
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;
}
.user_new_form, .edit_user{
   display: block;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 30px;
   ul{
     list-style: none;
     margin-bottom: 30px;
     .button-panel{
       margin-top: 10px;
     }
   }
   input, select{
     font-size: 16px;
   }
   input#login-button {
     display: block;
     margin: 0 auto;
  }
   label{
    float: left; 
  }
  select{
    width: 100%;
    height: 50px;
  }
}

#mypage_head{
  font-size: 25px;
}
.user_info_list{
  list-style: none;
  margin-top: 50px;
  padding: 0 20px;
  li{
    width: 100%;
    padding: 4px;
    font-size: 16px;
  }
}

.user_links{
  margin-top: 30px;
  padding: 0 20px;
  a, &:hover, &:visited{
    text-decoration: none;
    color: #111;
  }
}

