<div class="categories_block">
  <ul>
    <li>カテゴリー一覧</li>
  <% @categories.each do |ca| %>
    <%= link_to(category_path(ca.id)) do %>
      <li>・<%= ca.name %></li>
    <% end %>
  <% end %>
  </ul>
</div>
